.Test {
  background-color: blue;
  font-size: 5vmin;
  min-height: 20vmin;
  text-align: center;
}

/*
BANNER TOP
*/

.Halloween {
  background-color: black;
  font-size: 5vmin;
  color: whitesmoke;
  min-height: 20vmin;
  text-align: center;
}

/*
CONTAINER
*/


.Day-img {
/*  background-color: purple;*/
  min-height: 100vmin;
  min-width: 35%;
  float: left; 
}

.Day-desc {
/*  background-color: red;*/
  min-height: 100vmin;
  max-width: 65%;
  float: left; 
  opacity: 0.5;
}

.Halloween-back {
  text-align: center;
  min-width: 100%;
  min-height: 100vmin;
  background-repeat: no-repeat;
  background-image: url("./background/Halloween-background.jpg");
  background-size: 100% 100%;
}

.Unicorn-back {
  text-align: center;
  min-width: 100%;
  min-height: 100vmin;
  background-repeat: no-repeat;
  background-image: url("./background/Unicorn-background.jpg");
  background-size: 100% 100%;
}

.Normal-back {
  text-align: center;
  min-width: 100%;
  min-height: 100vmin;
  background-repeat: no-repeat;
  background-image: url("./background/no-data-background.jpg");
  background-size: 100% 100%;
}

