.Test {
  background-color: blue;
  font-size: 5vmin;
  min-height: 20vmin;
  text-align: center;
}

/*
BANNER TOP
*/

.Halloween {
  background-color: black;
  font-size: 5vmin;
  color: whitesmoke;
  min-height: 20vmin;
  text-align: center;
}

/*
CONTAINER
*/


.Day-img {
/*  background-color: purple;*/
  min-height: 100vmin;
  min-width: 35%;
  float: left; 
}

.Day-desc {
/*  background-color: red;*/
  min-height: 100vmin;
  max-width: 65%;
  float: left; 
  opacity: 0.5;
}

.Halloween-back {
  text-align: center;
  min-width: 100%;
  min-height: 100vmin;
  background-repeat: no-repeat;
  background-image: url("./assets/Halloween/Halloween-background.jpg");
  background-size: 100% 100%;
}

.Unicorn-back {
  text-align: center;
  min-width: 100%;
  min-height: 100vmin;
  background-repeat: no-repeat;
  background-image: url("./assets/Unicorn/Unicorn-background.jpg");
  background-size: 100% 100%;
}

.Normal-back {
  text-align: center;
  min-width: 100%;
  min-height: 100vmin;
  background-repeat: no-repeat;
  background-image: url("./assets/Normal/no-data-background.jpg");
  background-size: 100% 100%;
}

/*
Gallery
*/
table.tr {
  height: 100px;
  width: 500px;
  margin-right: 100px;
}


/*
TO REMOVE



.Halloween {
  text-align: center;

}

.Unicorn {
  text-align: center;
  background-color: pink;
  font-size: 5vmin;
  color: whitesmoke;
  min-height: 20vmin;

}



.Normal {
  text-align: center;
  background-color: yellowgreen;
  font-size: 5vmin;
  color: whitesmoke;
  min-height: 20vmin;

}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/